<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy8Bi3rQQOplU4EFmf0vecqCrE_lm2O58</string>
	<key>GCM_SENDER_ID</key>
	<string>495634328380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.swiftylabs.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-ff94c</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-ff94c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495634328380:ios:e223e48e7c1a2d90d28c39</string>
</dict>
</plist>